@font-face {
  font-family: 'OpenWeb Icons';
    src: url('./font/openwebicons.eot');
    src: url('./font/openwebicons.eot?#iefix') format('embedded-opentype'),
         url('./font/openwebicons.woff2') format('woff2'),
         url('./font/openwebicons.woff') format('woff'),
         url('./font/openwebicons.ttf') format('truetype'),
         url('./font/openwebicons.svg#OpenWebIconsRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
i[class*=openwebicons-], i[data-icon] {
  font-style: normal;
}
i[class*=openwebicons-] {
	font-family: 'OpenWeb Icons';
}
.openwebicons-git:before{
	content:"\f035";
}

:root {
	--color-bg: #470FF4;
	--color-bg-pop: #1098F7;
	--color-text: black;
	--color-text-light: #FFFAE2;
	--color-text-accent: #FF6392;
	--color-bg-alt: #E65C2A;
}

*, *:after, *:before {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	font-family: Overpass, sans-serif;
	font-size: 1.1rem;
	color: var(--color-text)
}

a {
	color: var(--color-text);
}

header {
	display: flex;
	background-color: var(--color-bg);
	padding: 0 1rem;
	position: fixed;
	width: 100%;
	justify-content: space-between;
}

header nav {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 75%;
}

header h1 {
	color: var(--color-text-light);
}

header nav a {
	color: var(--color-text-light);
	text-decoration: none;
	font-weight: bold;
}

header nav a:hover {
	color: var(--color-bg);
	background-color: var(--color-text-light);
}

main {
	width: 100%;
}

[data-icon]:before {
	content: attr(data-icon);
	margin-right: 0.75rem;
}

.icon {
	width: 1em;
}

#blurb {
	width: 100%;
	background-color: var(--color-bg-pop);
	padding: 1rem;
	font-size: 1.5rem;
	color: var(--color-text-light);
}

.herobox {
	background-color: var(--color-bg-alt);
	color: var(--color-text-light);
	font-size: 3rem;
	margin: 0;
	max-width: 100vw;
	padding: 0;
	width: 100%;
}

.herobox a {
	color: var(--color-text-light);
	text-decoration: none;
}

.herobox a:hover {
	background-color: var(--color-text-light);
	color: var(--color-bg-alt);
}

.herobox a:hover .icon-git {
	background-color: var(--color-bg-alt);
}

#blurb p, .herobox p {
	max-width: 960px;
	width: 100%;
	margin: 0 auto;
}

main section {
	max-width: 960px;
	margin: 1rem auto 1rem auto;
	padding: 0 1rem;
}

.accent {
	background-color: var(--color-text-accent);
	color: var(--color-bg-pop);
	font-weight: bold;
	font-size: 1.8rem;
}

#work > div, .grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.grid {
	font-size: 2rem;
	text-align: center;
}

#work > div:nth-child(1) {
	background-color: #CBE89B;
	color: #004E48;
}

footer {
	background-color: var(--color-bg);
	padding: 1rem;
	margin: 0;
	display: flex;
	justify-content: space-between;
	align-items: middle;
	color: var(--color-text-light);
}

#social {
	display: flex;
	align-items: center;
	width: 25%;
	max-width: 150px;
	justify-content: end;
}

#social a:not(:first-of-type) {
	margin-left: 3rem;
}

@media (max-width: 500px) {
	header {
		align-items: center;
	}
	header nav {
		flex-direction: column;
		align-items: end;
	}
}

@media (max-width: 750px) {
	#work > div, .grid {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		padding: 0 1rem;
	}

	footer {
		flex-direction: column;
		height: max-content;
		align-items: center;
	}

	#social {
		flex-direction: column;
		width: 100%;
		padding: 0 1rem;
		justify-content: space-between;
	}

	#social a:not(:first-of-type) {
		margin: 0;
	}
}

.emph {
	text-align: center;
	font-size: 2rem;
}
