:root {
	/*--color-red: #fd2424;*/
	--color-red: #e80015;
	--color-green: #19e853;
	/* --color-navy: #190b53; */
	--color-blue: #2b0bf2;
	--width-max: 1200px;
}

html {
	scroll-behavior: smooth;
}

*,
*:after,
*:before {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	font-family: Alegreya, serif;
}

.contact-btn {
	position: fixed;
	right: 2rem;
	top: 2rem;
	mix-blend-mode: darken;
	z-index: 10;
}

.contact-btn__icon {
	height: 2rem;
}

.header {
	min-height: 100vh;
	max-width: 100vw;
	width: 100%;
	display: grid;
	background-color: white;
	color: var(--color-blue);
	/* This was causing an overflow! took an extra rem out but don't see why the math didn't work, maybe some rounding error*/
	grid-template-columns:
		calc(calc(100vw - var(--width-max)) / 2) repeat(
			5,
			calc(calc(100vw - calc(100vw - 1180px)) / 5)
		)
		calc(calc(100vw - var(--width-max)) / 2);
	grid-template-rows: 5rem repeat(5, calc(calc(100vh - 10rem) / 5)) 5rem;
}

.header__title {
	grid-column: 2 / span 3;
	grid-row: 2 / span 5;
	align-self: center;
	z-index: 10;
	font-size: 13vw;
	margin: 0;
	font-weight: 900;
	line-height: 0.9;
	mix-blend-mode: darken;
}

.header__img-container {
	grid-column: 1 / span 7;
	grid-row: 1 / span 7;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	overflow: hidden;
	/* font-size: 2rem; */
}

.header__img {
	width: 70vmin;
}

.header__tagline {
	grid-column: 5 / span 2;
	grid-row: 4 / 5;
	margin: 0;
	z-index: 10;
	font-size: 1.5rem;
	line-height: 1.4;
	font-weight: 900;
	width: 20rem;
	mix-blend-mode: darken;
}

.services {
	min-height: 100vh;
	max-width: 100vw;
	width: 100%;
	margin: 0;
	padding: 5rem;
	background-color: var(--color-red);
	color: white;
}

.services__container {
	max-width: var(--width-max);
	margin: 0 auto;
}

.services__title {
	font-size: calc(7rem + 5vw);
	font-weight: 900;
	opacity: 0.5;
	margin: 0;
}

.services__content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 auto;
}

.service {
	border-bottom: 2px solid white; /* would be nice to loose the last one on mobile*/
	width: 30%;
	max-width: 25rem;
	font-size: 1.3rem;
	line-height: 1.4;
	/* z-index: 2; */
}

.service__title {
	font-weight: 900;
	font-size: calc(1.5rem + 1vw);
	margin: 0;
}

.values {
	min-height: 100vh;
	max-width: 100vw;
	width: 100%;
	margin: 0;
	font-size: 1.3rem;
	padding: 5rem;
	background-color: white;
	color: var(--color-blue);
	mix-blend-mode: darken;
}

.values__container {
	max-width: var(--width-max);
	margin: 0 auto;
}

.values__title {
	font-size: calc(7rem + 5vw);
	font-weight: 900;
	opacity: 0.5;
	margin: 0;
}

.values__grid {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-gap: 5rem;
}

.values__content {
	display: flex;
	flex-direction: column;
}

/* .values__menu { */
/* } */

.values__menu__slider {
	display: flex;
	flex-direction: column;
	position: sticky;
	top: 5rem;
	bottom: 5rem;
}

.value__title {
	font-weight: 900;
	font-size: 1.5rem;
	margin: 0;
	mix-blend-mode: darken;
	position: relative;
}

.value__title--highlight {
	position: relative;
}

.value__title--highlight::after {
	content: "";
	display: block;
	height: 0.6rem;
	width: 105%;
	background: var(--color-green);
	position: absolute;
	top: 1.2rem;
	left: -0.4rem;
	mix-blend-mode: darken;
}

.value__details {
	max-width: 40rem;
	margin-bottom: 3rem;
}

.value__link {
	font-weight: 900;
	text-decoration: none;
	line-height: 2;
}

.value__link--highlight {
	position: relative;
}

.value__link--highlight::after {
	content: "";
	display: block;
	height: 0.5rem;
	width: 105%;
	background: var(--color-green);
	position: absolute;
	top: 1rem;
	left: -0.3rem;
	mix-blend-mode: darken;
}

.contact {
	/* min-height: 100vh; */
	/* max-width: 100vw; */
	width: 100%;
	margin: 0;
	font-size: 1.3rem;
	padding: 5rem;
	background-color: var(--color-green);
	color: var(--color-blue);
}

.contact__container {
	max-width: var(--width-max);
	margin: 0 auto;
	font-size: 1.3rem;
	/* display: flex; */
	/* flex-direction: column; */
}

.contact__title {
	font-size: calc(7rem + 5vw);
	font-weight: 900;
	/* opacity: 0.5; */
	margin: 0;
	mix-blend-mode: darken;
	z-index: 1;
}

.contact__content {
	display: grid;
	grid-template-columns: max-content max-content 1fr;
	grid-template-rows: 1fr;
}

.contact__message {
	padding-right: 0.5rem;
	margin: 3rem 0 0 0;
	mix-blend-mode: darken;
	z-index: 1;
}

.contact__link {
	font-family: "Source Code Pro", monospace;
	color: white;
	text-decoration: none;
	margin: 3rem 0 0 0;
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	z-index: 1;
}

.contact__img {
	width: 50vmin;
	grid-column: 2 / span 2;
	grid-row: 1 / 2;
}

@media (max-width: 945px) {
	.header {
		grid-template-columns: 2rem repeat(5, calc(calc(100vw - 4rem) / 5)) 2rem;
		grid-template-rows: 2rem repeat(2, calc(calc(100vh - 4rem) / 5)) 2rem;
		/* background-size: contain; */
		/* flex-direction: column; */
		font-size: 1rem;
	}

	.header__tagline {
		font-size: 1.75rem;
	}

	.header__title {
		font-size: 5rem !important;
	}

	.service {
		max-width: 100%;
		margin: 0 auto;
	}
	.contact__content {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: max-content max-content;
	}

	.contact__message {
		padding-right: 0.5rem;
		margin: 3rem 0 0 0;
		mix-blend-mode: darken;
		z-index: 1;
	}

	.contact__link {
		font-family: "Source Code Pro", monospace;
		color: white;
		text-decoration: none;
		margin: 3rem 0 0 0;
		grid-column: 1 / 2;
		grid-row: 2 / 3;
		z-index: 1;
	}

	.contact__img {
		width: 100%;
		grid-column: 1 / 2;
		grid-row: 2 / 3;
	}
}

@media (max-width: 750px) {
	.header {
		grid-template-columns: 2rem repeat(5, calc(calc(100vw - 4rem) / 5)) 2rem;
		grid-template-rows: 4rem repeat(5, calc(calc(100vh - 4rem) / 5)) 2rem;
	}

	.header__title {
		grid-column: 2 / span 5;
		grid-row: 2 / 3;
		align-self: auto;
		z-index: 10;
		font-size: 15vw;
		margin: 0;
		font-weight: 900;
		line-height: 0.9;
	}

	.header__img {
		/* overflow: hidden; */
		width: 120vmin;
	}

	.header__tagline {
		grid-column: 2 / span 2;
		grid-row: 5 / 6;
		margin: 0;
		/* align-self: center; */
		z-index: 10;
		font-size: 20px;
		font-weight: 800;
		width: 20rem;
	}

	.services {
		padding: 2rem;
	}

	.services__content {
		flex-direction: column;
		width: 100%;
	}

	.services__title {
		font-size: 5rem;
		margin-bottom: 1rem;
	}

	.service {
		width: 100%;
		margin: 0 auto 5rem auto;
	}
	.service_no-devider {
		border-bottom: 0;
	}

	.values {
		padding: 2rem;
	}

	.values__title {
		font-size: 5rem;
		margin-bottom: 1rem;
	}

	.values__grid {
		display: flex;
		direction: column;
	}

	.values__menu {
		display: none;
	}

	.value__title--highlight {
		text-decoration: underline;
		text-decoration-color: var(--color-green);
		text-decoration-thickness: 0.5rem;
		text-decoration-skip-ink: none;
		text-underline-offset: -0.3rem;
		width: max-content;
		max-width: 100%;
	}

	.value__title--highlight::after {
		content: none;
	}

	.contact {
		padding: 2rem;
	}
	.contact__title {
		font-size: 5rem;
		margin-bottom: 1rem;
	}
}
