:root {
	/*--color-red: #fd2424;*/
	--color-red: #e80015;
	--color-lime: #19e853;
	--color-navy: #190b53;
	--color-blue: #2b0bf2;
}

*,
*:after,
*:before {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	font-family: Alegreya, serif;
}

#contactfloat {
	position: fixed;
	right: 2rem;
	top: 2rem;
	mix-blend-mode: darken;
}

#contactfloat img {
	height: 2rem;
}

header,
section {
	min-height: 100vh;
	max-width: 100vw;
	width: 100%;
	margin: 0;
	padding: 5rem;
}

header {
	background-color: white;
	color: var(--color-blue);
	background-image: url("./img/willowtexture.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 1024px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1650px;
	margin: 0 auto;
}

header h1 {
	font-size: 15rem;
	opacity: 0.75;
}

header p {
	font-size: 2rem;
	width: 20rem;
}

section h2 {
	font-size: 10rem;
}

section > div {
	max-width: 1650px;
	margin: 0 auto;
}

section:nth-of-type(1) {
	background-color: var(--color-red);
	color: white;
}

section:nth-of-type(1) h2 {
	opacity: 0.75;
}

section:nth-of-type(1) > div > div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 auto;
}

section:nth-of-type(1) > div > div div {
	border-bottom: 2px solid white;
	width: 30%;
	max-width: 25rem;
	font-size: 1.3rem;
	z-index: 2;
}

section:nth-of-type(2) {
	color: var(--color-blue);
}

section:nth-of-type(2) h2 {
	opacity: 0.75;
}

section:nth-of-type(2) h3 {
	text-decoration: underline;
	text-decoration-color: var(--color-lime);
	text-decoration-thickness: 0.5rem;
	text-decoration-skip-ink: none;
	text-underline-offset: -0.25rem;
	width: max-content;
	max-width: 100%;
}

section:nth-of-type(3) {
	color: var(--color-navy);
	background-color: var(--color-lime);
	font-size: 2rem;
	background-image: url("./img/pigeon.png");
	background-position: left 30% bottom 45%;
	background-repeat: no-repeat;
	background-size: 1024px;
}

section:nth-of-type(3) p {
	background-color: rgba(255, 255, 255, 0.4);
	width: max-content;
	max-width: 100%;
}

section:nth-of-type(3) a {
	background-color: rgba(0, 0, 0, 0.4);
	color: white;
	text-decoration: none;
	font-weight: bold;
}

@media (max-width: 945px) {
	header {
		padding: 0;
	}

	section {
		padding: 1rem;
	}

	header {
		background-size: contain;
		flex-direction: column;
		font-size: 1rem;
	}

	header p {
		font-size: 1.75rem;
	}

	h1 {
		font-size: 5rem !important;
	}
}

@media (max-width: 750px) {
	#contactfloat:before {
		display: none;
	}

	h2 {
		font-size: 3rem !important;
	}

	section:nth-of-type(1) > div > div {
		flex-direction: column;
		width: 100%;
	}

	section:nth-of-type(1) > div > div div {
		width: 100%;
		margin: 0 auto;
	}

	section:nth-of-type(3) {
		background-size: contain;
	}
}
